/* Reset some default browser styles */
body, h1, p {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Make a header */
header {
    background: #e19d30;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1em;
}

/* Style the main content area */
main {
    margin: 2px;
    padding: 2px;
    background-color: #f2f2f2;
}

/* Add a footer */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a{
    color: yellow;
}

a:visited{
    color:#e19d30;
}

.container {
    display: grid;
    grid-template-columns: 1fr 9fr 2fr;
    grid-template-rows: 0.5fr 5fr 1fr;
    gap: 10px;
    padding: 10px;
    background-image: url("/static/bg_04.png");
    background-size: 20%;
  }
  

.info1{
    text-align: left;
    color: beige;
}
.grid-item {
    background-color: #916114;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    border-radius: 5px;
  }

  
.menu{
    background-color:rgb(254, 230, 195);
    color: black;
    padding: 5px 5px 5px 5px;
    text-align: center;
    border: black 4px solid;
    margin: 6px;
    font-size: 20px;
}

.menu:hover{
    border:#e19d30 4px solid;
}

.warning{
    color: black;
    background-color: beige;
    border: beige 3px solid;
    border-radius: 3px;
    padding:7px 5px;
}

.sbmt{
    font-size: 24px;
    color: black;
    background-color: beige;
    border: beige 3px solid;
    border-radius: 3px;
    padding: 10px 5px;
}

.sbmt:hover{
    border:#e19d30 4px solid;
}

.inp_pred{
    color: black;
    padding: 1px;
    text-align: center;
    border: black 4px solid;
    margin: 3px;
    font-size: 18px;
    width: 2ch;
}

.main_img{
    width: 100%;
    border-radius: 10px;
}

.logo{
    padding: 2px;
}

.level{
    background-color: #b18030;
}

.topright{
    background-color: rgb(164, 115, 0);
}

.main{
    background-color:rgb(39, 26, 0);
    height: 56vh;
    overflow: auto;
}

.info_header{
    color: beige;
    text-align: left;
}

/*
.healthbar{
    position: relative;
    background-image: url("/static/sidebar_bg.png");
    background-size: 100%;   
}

.healthbar::before {
    content: ""; 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

*/
.matches_table{
    color: beige;
    margin: 0 auto;
}

.matches_table td {
    padding: 3px 5px;
}

.matches_table th {
    background: beige;
    color: black;
}

.inventory{
    background-color: rgb(255, 243, 150);
}

.commandline{
    background-color: rgb(80, 40, 1);
}

.bottomright{
    background-color: rgb(80, 40, 1);
}


.hide{
    visibility: hidden;
}

.msg{
    color: red;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
}

.dump{
    color: white;
    font-size: 20px;
    margin: 5px 20px 5px 100px;
    padding: 5px;
    text-align: left;
}

.username{
    /* fix to the top-left of the screen */
    background-color:rgb(254, 230, 195);
    color: black;
    display:block;
    position: absolute;
    top: 10px;
    left: 50px;
    padding: 8px 5px 0px 5px;
    text-align: center;
    border: black 2px solid;
    font-size: 20px;
    width: 200px;
    height:30px;
}

.vid {
    display: block;
    position: absolute;
    top: 100px;
    left: 50%; /* Center relative to the parent element */
    transform: translateX(-50%); /* Shift left by half of its own width */
    padding: 12px 5px 0px 5px;
    text-align: center;
    font-size: 20px;
    /*width: 200px;  Set width */
    /*height: 30px;  Set height */
}




/*  ID's  */

#ball{
    width: 40px;
    margin-left: 30px;
}

#submit{
    font-size: 20px;
    width: 200px;
    height:50px;
    background-color: greenyellow;
}

#register{
    font-size: 20px;
    width: 200px;
    height:50px;
    background-color: rgb(98, 161, 3);
}

#commandline{
    width: 100%;
    height: 80%;
    font-size: 20px;
}

#username, #password, #name, #email{
    width: 400px;
    height:20px;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
}

#logout_btn{
    font-size: 20px;
    width: 200px;
    height:30px;
    background-color: rgb(254, 230, 195);
    display:block;
    position: absolute;
    top: 10px;
    right: 50px;
    padding: 8px 5px 0px 5px;
    text-align: center;
    border: black 2px solid;
}

#room_img{
    height: 350px;
    width: auto;
    border-radius: 5px;
}

#room_msg{
    margin-top: 10px;
    background-color: azure;
    border-radius: 5px;
    padding: 5px;
    height: 60px;
}

#computer_img{
    
    height: 350px;
    width: auto;
    border-radius: 5px;
    display:block;
    position: absolute;
    top: 200px;
    right: 54%;
    transform: translateX(50%);

}

#score{
    font-size: 18px;
    color: white
}

#scr{
    font-size: 14px;
    color: yellow;
}

#vid-but{
    /* Give the button a flashy border, make the font bigger and center the button on the screen */
    border: 2px solid #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Make the button rounder */
    border-radius: 5px;
    /* Make the button a little bit transparent */
    opacity: 0.8;
    /* Add a small transition effect */
    transition: 0.5s;
    /* Make the cursor appear as a hand when you mouse over the button */
    cursor: pointer;
    /* Add a black background color on mouse-over */
    background-color: black;
    color: white;
    padding: 10px;
    width: 200px;
    height: 50px;

}

#vid-but:hover {
    /* Change the background color of the button on mouse-over */
    background-color: #fff;
    color: black;
    opacity: 1;
}

#vid-but:active {
    /* Add a green color when you click the button */
    background-color: green;
    color: white;
}

#vid-but:focus {
    /* Remove the outline that appears on mouse-over */
    outline: none;
}
