{% extends "layout.html" %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
<p class="username">{{username}}</p>
<a href="/logout"><span id="logout_btn">logout</span></a>

<div class="container">
    <div class="grid-item topleft">
        <p id="scr">Score</p>
        <p id="score">{{score}}</p>
    </div>
    <div class="grid-item level"></div>
    <div class="grid-item topright">
        
    </div>
    <div class="grid-item healthbar"></div>
    <div class="grid-item main">
       <h2 class="info_header">Time table</h2>
        <table border="3" class="matches_table">
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>ET Time</th>
                <th>Place</th>
                <th>Group</th>
                <th>Matchup</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Fri, Jun 14</td>
                <td>3 p.m. ET</td>
                <td>Munich</td>
                <td>A</td>
                <td>Germany vs. Scotland</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Sat, Jun 15</td>
                <td>9 a.m. ET</td>
                <td>Cologne</td>
                <td>A</td>
                <td>Hungary vs. Switzerland</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Sat, Jun 15</td>
                <td>midday ET</td>
                <td>Berlin</td>
                <td>B</td>
                <td>Spain vs. Croatia</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Sat, Jun 15</td>
                <td>3 p.m. ET</td>
                <td>Dortmund</td>
                <td>B</td>
                <td>Italy vs. Albania</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Sun, Jun 16</td>
                <td>9 a.m. ET</td>
                <td>Hamburg</td>
                <td>D</td>
                <td>Poland vs. Netherlands</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Sun, Jun 16</td>
                <td>midday ET</td>
                <td>Stuttgart</td>
                <td>C</td>
                <td>Slovenia vs. Denmark</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Sun, Jun 16</td>
                <td>3 p.m. ET</td>
                <td>Gelsenkirchen</td>
                <td>C</td>
                <td>Serbia vs. England</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Mon, Jun 17</td>
                <td>9 a.m. ET</td>
                <td>Munich</td>
                <td>E</td>
                <td>Romania vs. Ukraine</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Mon, Jun 17</td>
                <td>midday ET</td>
                <td>Frankfurt</td>
                <td>E</td>
                <td>Belgium vs. Slovakia</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Mon, Jun 17</td>
                <td>3 p.m. ET</td>
                <td>Düsseldorf</td>
                <td>D</td>
                <td>Austria vs. France</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Tue, Jun 18</td>
                <td>midday ET</td>
                <td>Dortmund</td>
                <td>F</td>
                <td>Turkey vs. Georgia</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Tue, Jun 18</td>
                <td>3 p.m. ET</td>
                <td>Leipzig</td>
                <td>F</td>
                <td>Portugal vs. Czechia</td>
            </tr>
            <tr>
                <td>13</td>
                <td>Wed, Jun 19</td>
                <td>9 a.m. ET</td>
                <td>Hamburg</td>
                <td>B</td>
                <td>Croatia vs. Albania</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Wed, Jun 19</td>
                <td>midday ET</td>
                <td>Stuttgart</td>
                <td>A</td>
                <td>Germany vs. Hungary</td>
            </tr>
            <tr>
                <td>15</td>
                <td>Wed, Jun 19</td>
                <td>3 p.m. ET</td>
                <td>Cologne</td>
                <td>A</td>
                <td>Scotland vs. Switzerland</td>
            </tr>
            <tr>
                <td>16</td>
                <td>Thu, Jun 20</td>
                <td>9 a.m. ET</td>
                <td>Munich</td>
                <td>C</td>
                <td>Slovenia vs. Serbia</td>
            </tr>
            <tr>
                <td>17</td>
                <td>Thu, Jun 20</td>
                <td>midday ET</td>
                <td>Frankfurt</td>
                <td>C</td>
                <td>Denmark vs. England</td>
            </tr>
            <tr>
                <td>18</td>
                <td>Thu, Jun 20</td>
                <td>3 p.m. ET</td>
                <td>Gelsenkirchen</td>
                <td>B</td>
                <td>Spain vs. Italy</td>
            </tr>
            <tr>
                <td>19</td>
                <td>Fri, Jun 21</td>
                <td>9 a.m. ET</td>
                <td>Düsseldorf</td>
                <td>E</td>
                <td>Slovakia vs. Ukraine</td>
            </tr>
            <tr>
                <td>20</td>
                <td>Fri, Jun 21</td>
                <td>midday ET</td>
                <td>Berlin</td>
                <td>D</td>
                <td>Poland vs. Austria</td>
            </tr>
            <tr>
                <td>21</td>
                <td>Fri, Jun 21</td>
                <td>3 p.m. ET</td>
                <td>Leipzig</td>
                <td>D</td>
                <td>Netherlands vs. France</td>
            </tr>
            <tr>
                <td>22</td>
                <td>Sat, Jun 22</td>
                <td>9 a.m. ET</td>
                <td>Hamburg</td>
                <td>F</td>
                <td>Georgia vs. Czechia</td>
            </tr>
            <tr>
                <td>23</td>
                <td>Sat, Jun 22</td>
                <td>midday ET</td>
                <td>Dortmund</td>
                <td>F</td>
                <td>Turkey vs. Portugal</td>
            </tr>
            <tr>
                <td>24</td>
                <td>Sat, Jun 22</td>
                <td>3 p.m. ET</td>
                <td>Cologne</td>
                <td>E</td>
                <td>Belgium vs. Romania</td>
            </tr>
            <tr>
                <td>25</td>
                <td>Sun, Jun 23</td>
                <td>3 p.m. ET</td>
                <td>Frankfurt</td>
                <td>A</td>
                <td>Switzerland vs. Germany</td>
            </tr>
            <tr>
                <td>26</td>
                <td>Sun, Jun 23</td>
                <td>3 p.m. ET</td>
                <td>Stuttgart</td>
                <td>A</td>
                <td>Scotland vs. Hungary</td>
            </tr>
            <tr>
                <td>27</td>
                <td>Mon, Jun 24</td>
                <td>3 p.m. ET</td>
                <td>Düsseldorf</td>
                <td>B</td>
                <td>Albania vs. Spain</td>
            </tr>
            <tr>
                <td>28</td>
                <td>Mon, Jun 24</td>
                <td>3 p.m. ET</td>
                <td>Leipzig</td>
                <td>B</td>
                <td>Croatia vs. Italy</td>
            </tr>
            <tr>
                <td>29</td>
                <td>Tue, Jun 25</td>
                <td>midday ET</td>
                <td>Dortmund</td>
                <td>D</td>
                <td>France vs. Poland</td>
            </tr>
            <tr>
                <td>30</td>
                <td>Tue, Jun 25</td>
                <td>midday ET</td>
                <td>Berlin</td>
                <td>D</td>
                <td>Netherlands vs. Austria</td>
            </tr>
            <tr>
                <td>31</td>
                <td>Tue, Jun 25</td>
                <td>3 p.m. ET</td>
                <td>Cologne</td>
                <td>C</td>
                <td>England vs. Slovenia</td>
            </tr>
            <tr>
                <td>32</td>
                <td>Tue, Jun 25</td>
                <td>3 p.m. ET</td>
                <td>Munich</td>
                <td>C</td>
                <td>Denmark vs. Serbia</td>
            </tr>
            <tr>
                <td>33</td>
                <td>Wed, Jun 26</td>
                <td>midday ET</td>
                <td>Stuttgart</td>
                <td>E</td>
                <td>Ukraine vs. Belgium</td>
            </tr>
            <tr>
                <td>34</td>
                <td>Wed, Jun 26</td>
                <td>midday ET</td>
                <td>Frankfurt</td>
                <td>E</td>
                <td>Slovakia vs. Romania</td>
            </tr>
            <tr>
                <td>35</td>
                <td>Wed, Jun 26</td>
                <td>3 p.m. ET</td>
                <td>Hamburg</td>
                <td>F</td>
                <td>Czechia vs. Turkey</td>
            </tr>
            <tr>
                <td>36</td>
                <td>Wed, Jun 26</td>
                <td>3 p.m. ET</td>
                <td>Gelsenkirchen</td>
                <td>F</td>
                <td>Georgia vs. Portugal</td>
            </tr>
        </table>
        
        

        
    </div>
    <div class="grid-item inventory">
        <form method="GET">
            <h3>MENU</h3>
            <p><input type="submit" class="menu" value="My predictions" formaction="/my_predictions"></p>
            <p><input type="submit" class="menu" value="Edit predictions" formaction="/edit_predictions"></p>
            <p><input type="submit" class="menu" value="Ranking" formaction="/ranking"></p>
            <p><input type="submit" class="menu" value="General info" formaction="/info"></p>
            <p><input type="submit" class="menu" value="Pool info" formaction="/pool_info"></p>
        </form>
    </div>

    <div class="grid-item bottomleft"></div>
    <div class="grid-item commandline">
        
    </div>
    <div class="grid-item bottomright">


    </div>

</div>




{% endblock %}  

