{% extends "layout.html" %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
<p class="username">{{username}}</p>
<a href="/logout"><span id="logout_btn">logout</span></a>

<div class="container">
    <div class="grid-item topleft">
        <p id="scr">Score</p>
        <p id="score">{{score}}</p>
    </div>
    <div class="grid-item level"></div>
    <div class="grid-item topright">
        
    </div>
    <div class="grid-item healthbar"></div>
    <div class="grid-item main">
        
        {% if msg %}
            <p id="room_msg"> {{msg}} </p>
        {% endif %}
        <br>

        <div class="info1">
        
        <h2>Pool info</h2>

            <ul>
                <li>You're supposed to have fun :-)</li>
                <li>You can make predictions for all matches until one day before the match is played</li>
                <li>You will get 1 point if you predicted the right outcome (winning team or tie)</li>
                <li>You will get 3 ADDITIONAL points if you predicted the EXACT score</li>
                <li>There will be a prize for 1st, 2nd and 3rd place</li>
                <br>
                <li>For questions, ask the Dutch guy: avanwinkel@molloyhs.org</li>
            </ul>

        </div>
        
    </div>
    <div class="grid-item inventory">
        <form method="GET">
            <h3>MENU</h3>
            <p><input type="submit" class="menu" value="My predictions" formaction="/my_predictions"></p>
            <p><input type="submit" class="menu" value="Edit predictions" formaction="/edit_predictions"></p>
            <p><input type="submit" class="menu" value="Match results" formaction="/match_results"></p>
            <p><input type="submit" class="menu" value="Ranking" formaction="/ranking"></p>
            <p><input type="submit" class="menu" value="General info" formaction="/info"></p>
            <p><input type="submit" class="menu" value="Pool info" formaction="/pool_info"></p>
        </form>
    </div>

    <div class="grid-item bottomleft"></div>
    <div class="grid-item commandline">
        
    </div>
    <div class="grid-item bottomright">


    </div>

</div>




{% endblock %}  

